* {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding:10px;

}
.startBtnDiv {
  text-align: center;
}

#startNow {
  padding: 15px 40px;
  font-size: 20px;
  cursor: pointer;
  background: orange;
  color: black;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}
#startNow:hover {
  background: #3730a3;
  color: white;
}
#quizmainContent {
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#counterData {
  font-size: 24px;
  font-weight: bold;
  color: #ef4444;
  text-align: right;
  margin-bottom: 10px;
}


#questionEl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}


#optionList {
  list-style: none;
}

#optionList button {
  width: 100%;
  padding: 12px;
  margin: 7px 0;
  background: #e5e7eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#optionList button:hover:not(:disabled) {
  background: #bfc4ca;
}

.correct {
  background: #4b9c69 !important;
  color: white !important;
}

.wrong {
  background: #b33232 !important;
  color: white !important;
}

#optionList button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#nextBtn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #020303;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}





#nextBtn:disabled {
  background: #375b83;
  cursor: not-allowed;
}

#nextBtn:hover:not(:disabled) {
  background: #3d62b3;
}


#scoreArea {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}


#progress {
  text-align: center;
  
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}


#Restart {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #a18b43;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

@media(max-width:768px){
    #quizmainContent{
    width: 300px;
    padding: 15px;
    }
    #questionEl{
        font-size: 15px;
    }
}
#counterNumber{
    color: black;
    font-size:13px ;
    font-weight: bold;
}
#countclock{
    font-size: 14px;
    color: #ff4500;
    font-weight: bold;


}